<div class="p-6 pt-4 directory-gallery">
    <div class="flex justify-between">
        <div class="breadcrumbs text-sm pb-4">
            <ul>
                @for (folder of activeDirectoryPath(); track $index) {
                    <li>
                        <a (click)="setDirectoryActive($index)">
                            <app-icon name="folder" size="h-4 w-4" />
                            {{ folder.name }}
                        </a>
                    </li>
                }
            </ul>
        </div>
        <div class="flex items-center">
            @if (thereAreSelectedPhotos()) {
                <button
                    class="btn btn-sm mr-4"
                    (click)="openAddPagePhotosDialog()"
                >
                    Add {{ this.albumStore.selectedPhotos().size }} selected
                    photos to a new page
                </button>
            }
            <div class="flex items-center">
                <span class="text-sm pr-2">Select photos</span>
                <input
                    type="checkbox"
                    [checked]="isPhotoSelectionEnabled()"
                    class="toggle"
                    (click)="toggleSelection()"
                />
            </div>
        </div>
    </div>
    <div
        class="flex gap-3 w-full rounded-md p-4 overflow-x-auto inset-shadow-sm inset-shadow-gray-400/50 bg-gray-200"
    >
        @for (dir of activeDirectory(); track $index) {
            @if (dir.type === 'folder') {
                <div
                    class="px-3 py-2 bg-base-100 rounded-md shadow-sm cursor-pointer flex flex-col justify-center gap-1 hover:shadow-md hover:shadow-gray-400/50 transition-all duration-150 ease-in-out"
                    (click)="getInDirectory(dir, $index)"
                >
                    <div class="flex justify-center pb-1">
                        <app-icon
                            name="folder-open"
                            size="size-8 text-gray-400"
                        />
                    </div>
                    <p class="text-xs">
                        {{ dir.name }}
                    </p>
                </div>
            } @else {
                <app-thumbnail
                    class="flex"
                    [path]="dir.path"
                    [name]="dir.name"
                    [pages]="albumStore.photosInPage()[dir.name]"
                    [selected]="isThumbnailSelected(dir)"
                    [isSelectionEnabled]="isPhotoSelectionEnabled()"
                    (click)="togglePhotoSelection(dir)"
                />
            }
        } @empty {
            <p>There are no items in this directory</p>
        }
    </div>
</div>
