<div class="gallery p-6">
    @if (albumStore.activeAlbum()?.isGrouped) {
        <app-folder [photosDictionary]="getGroupedDictionary()" />
    }

    @if (albumStore.thumbnails()) {
        <div
            class="gallery__thumbnails flex gap-3 w-full rounded-md p-4 overflow-x-auto inset-shadow-sm inset-shadow-gray-400/50 bg-gray-200"
        >
            <app-thumbnail
                class="flex"
                *ngFor="let thumbnail of albumStore.thumbnails() | keyvalue"
                [photo]="thumbnail"
            />
        </div>
    }
</div>
