<div class="gallery">
    @if (this.configService.album()!.isGrouped) {
        <app-folder [photosDictionary]="getGroupedDictionary()" />
    }

    @if (thumbnails().length) {
        <div class="gallery__thumbnails">
            <app-thumbnail
                *ngFor="
                    let thumbnail of thumbnails();
                    let i = index;
                    trackBy: trackByFn
                "
                [photo]="thumbnail"
                [activeFolder]="this.configService.activeFolder()"
            />
        </div>
    }
</div>
