:host {
    display: grid;
    gap: 1rem;
    grid-template-rows: auto min-content;
    height: 100%;
    min-height: 400px;
}

.page {
    position: relative;
}

.section-overlay {
    position: absolute;
    z-index: 10;
    pointer-events: none;
}

.section-overlay--top {
    top: 0;
    left: 0;
    right: 0;
}

.section-overlay--bottom {
    bottom: 0;
    left: 0;
    right: 0;
}

.section-overlay--lateral {
    top: 0;
    bottom: 0;
}

.section-overlay--left {
    left: 0;
}

.section-overlay--right {
    right: 0;
}

.section-label {
    color: white;
    white-space: nowrap;
}

.section-overlay--lateral .section-label {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    height: 100%;
}

.section-name {
    font-weight: 600;
}

.subsection-name {
    margin-left: 0.25rem;
    opacity: 0.85;
}

.section-overlay--lateral .subsection-name {
    margin-left: 0;
    margin-top: 0.25rem;
}

.page-controls button {
    cursor: pointer;
    color: var(--color-gray-500);
}

.page-controls button:hover {
    color: var(--color-pink-700);
}
