<div
    [class]="`page ${getPageGridMode(this.pageIndex())}`"
    [style.aspect-ratio]="proportion() / 1"
    #pageExportDiv
>
    <div
        class="page-template page-template--{{
            page().template
        }} shadow-lg shadow-gray-400 box-border grid bg-white flex"
        [style.gap]="gap()"
        [style.padding]="padding()"
    >
        @for (photo of page().photos; track $index) {
            <app-photo
                [photoIndex]="$index"
                [photo]="photo"
                [pageIndex]="pageIndex()"
                [pagesPhotosLength]="page().photos.length"
                [borderRadius]="photoBorderRadius()"
            />
        }
    </div>
    @if (pageSection(); as pageSection) {
        <div
            [class]="`section-overlay ${getSectionClass(this.pageIndex())}`"
            [class.section-overlay--lateral]="
                pageSection.config.position === 'lateral'
            "
        >
            <div
                class="section-label"
                [style.padding]="getSectionPadding(pageSection.config)"
                [style.background-color]="pageSection.section.color"
                [style.color]="pageSection.section.fontColor"
                [style.border-radius]="
                    getSectionBorderRadius(pageSection.config.borderRadius)
                "
                [style.font-size]="
                    getSectionFontSize(pageSection.config.fontSize)
                "
            >
                <span class="section-name">{{ pageSection.section.name }}</span>
                @if (pageSection.subsection) {
                    <span class="subsection-name">{{
                        pageSection.subsection.name
                    }}</span>
                }
            </div>
        </div>
    }
</div>
<div class="page-controls flex justify-between">
    <div class="text-gray-500">
        {{ pageIndex() + 1 }}
    </div>
    <div class="flex gap-3 page-controls__right">
        <button class="" cdkOverlayOrigin [cdkMenuTriggerFor]="menu">
            <app-icon name="cog-6-tooth" [size]="iconSize" />
        </button>
        <button
            class=""
            (click)="downloadPage()"
            [disabled]="isPageDownloading()"
            title="Download Page"
        >
            @if (isPageDownloading()) {
                <span class="loading loading-xs loading-spinner"></span>
            } @else {
                <app-icon name="arrow-down-tray" [size]="iconSize" />
            }
        </button>
        <button class="" (click)="openTemplateDialog()">
            <app-icon name="table-cells" [size]="iconSize" />
        </button>
        <button class="" (click)="openMovePageDialog()" title="Move page">
            <app-icon name="arrows-right-left" [size]="iconSize" />
        </button>
        <div class="page-controls__shift-options flex gap-2">
            @for (option of shiftOptions; track $index) {
                <button
                    class=""
                    (click)="shiftPagePosition(option)"
                    [disabled]="isShiftPageDisabled(option, pageIndex())"
                >
                    @if (option === -1) {
                        <app-icon
                            name="arrow-left-on-rectangle"
                            [size]="iconSize"
                        />
                    } @else {
                        <app-icon
                            name="arrow-right-on-rectangle"
                            [size]="iconSize"
                        />
                    }
                </button>
            }
        </div>
        <button class="" (click)="removePage()">
            <app-icon name="trash" [size]="iconSize" />
        </button>
    </div>
</div>
<ng-template #menu>
    <div cdkMenu class="options-menu">
        <app-style-settings
            [pageIndex]="pageIndex()"
            (closeMenu)="closeSettingsMenu()"
        />
    </div>
</ng-template>
