:host {
    display: grid;
    gap: 1rem;
    grid-template-rows: auto min-content;
    height: 100%;
    min-height: 400px;
}

.page-controls button {
    cursor: pointer;
    color: var(--color-gray-500);
}

.page-controls button:hover {
    color: var(--color-pink-700);
}
