<ng-container>
    <div
        class="page page-format--{{ page().format }} page-template--{{
            page().template
        }}"
        #captureDiv
    >
        @for (photo of page().photos; track $index) {
            <div class="image-container">
                @if (photo.fileName) {
                    <img
                        [matMenuTriggerFor]="menu"
                        class="page__photo"
                        [src]="getPhotoSrc(photo)"
                        alt=""
                        [style]="getImgStyles(photo.styles)"
                    />
                    <mat-menu #menu="matMenu">
                        <button
                            mat-menu-item
                            (click)="removePhoto($index, photo)"
                        >
                            Remove
                        </button>
                    </mat-menu>
                }
            </div>
        }
    </div>
    <button (click)="capture()">Download as PNG</button>
</ng-container>
