:host {
    display: grid;
    gap: 1rem;
    grid-template-rows: auto min-content;
    height: 100%;
    min-height: 400px;
}

.page {
    display: grid;
}

.section-overlay {
}

.section-label {
    color: white;
    white-space: nowrap;
}

.section-overlay--lateral {
    display: flex;
}

.section-overlay--lateral .section-label {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.section-name {
    font-weight: 600;
}

.subsection-name {
    margin-left: 0.25rem;
    opacity: 0.85;
}

.section-overlay--lateral .subsection-name {
    margin-left: 0;
    margin-top: 0.25rem;
}

.page-controls button {
    cursor: pointer;
    color: var(--color-gray-500);
}

.page-controls button:hover {
    color: var(--color-pink-700);
}
