<ng-container>
    <div
        class="page page-format--{{ page().format }} page-template--{{
            page().template
        }}"
        #captureDiv
    >
        @for (photo of page().photos; track $index) {
            <app-photo
                [photoIndex]="$index"
                [photo]="photo"
                [baseUrl]="baseUrl()"
                [pageIndex]="pageIndex()"
            ></app-photo>
        }
    </div>
    <div class="page-options flex">
        <button (click)="capture()">Download as PNG</button>
        <button class="page-options__format" (click)="openTemplateDialog()">
            Format & Template
        </button>
        <div class="page-options__shift-page">
            <button (click)="shiftPagePosition('◀️')">◀️</button>
            <button (click)="shiftPagePosition('▶️')">▶️</button>
        </div>
        <button (click)="removePage()">🗑️</button>
    </div>
</ng-container>
