<div class="bg-base-100 shadow-sm p-6 rounded-md">
    <div class="templates flex gap-3 flex-wrap max-w-xl">
        @for (templateGroups of data; track $index) {
            <div>
                <p class="text-sm mb-1">{{ $index + 1 }} Photo</p>
                <div class="template-types flex gap-6 flex-wrap">
                    @for (group of templateGroups; track $index) {
                        <div class="template-type flex gap-1.5">
                            @for (template of group; track $index) {
                                <div
                                    class="page-template--{{ template }}"
                                    [title]="template"
                                    (click)="selectTemplate(template)"
                                >
                                    <ng-container
                                        *ngFor="
                                            let i of getPhotosNumber(template)
                                        "
                                    >
                                        <div></div>
                                    </ng-container>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
