<div class="templates flex gap-3 flex-wrap">
    @for (templateGroups of data; track $index) {
        <div>
            <p class="text-sm mb-1">
                {{ $index + 1 }} Photo{{ $index ? 's' : '' }}
            </p>
            <div class="template-types flex gap-6 flex-wrap">
                @for (group of templateGroups; track $index) {
                    <div class="template-type flex gap-1.5">
                        @for (template of group; track $index) {
                            <div
                                class="page-template--{{ template.name }}"
                                [style.width]="templateWidth()"
                                [title]="template.name"
                                (click)="selectTemplate(template.name)"
                            >
                                <ng-container
                                    *ngFor="
                                        let i of getPhotosNumber(template.name)
                                    "
                                >
                                    <div></div>
                                </ng-container>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    }
</div>
