@if (albumStore.isAppLoading()) {
    <p>Loading...</p>
} @else {
    <div class="home__center">
        <h1 class="home__title">Albums</h1>
        <div class="home__albums">
            @for (album of albumStore.albumsPreview(); track $index) {
                <button
                    class="button button--default"
                    (click)="openAlbum(album.id)"
                >
                    {{ album.name }}
                </button>
            }
        </div>
        <button class="button home__new-album" (click)="openNewAlbumDialog()">
            New album
        </button>
    </div>
}
