<div class="modal-card">
    <h2>Create a new Album</h2>
    <form
        [formGroup]="form"
        (ngSubmit)="onFormSubmit()"
        class="create-album-form form-md"
    >
        <div class="form-columns">
            <div class="form-group form-group--row">
                <label for="name">Name</label>
                <input
                    formControlName="name"
                    class="text-input"
                    [class]="{ 'input-error': showNameError }"
                    type="text"
                    id="name"
                    required
                />
                @if (showNameError) {
                    <div class="control-error">{{ nameError }}</div>
                }
            </div>
            <div class="form-group form-group--row">
                <label for="id">Id</label>
                <input
                    formControlName="id"
                    class="text-input"
                    [class]="{ 'input-error': showIdError }"
                    type="text"
                    id="id"
                    required
                />
                @if (showIdError) {
                    <div class="control-error">{{ idError }}</div>
                }
            </div>
        </div>
        <div class="form-group">
            <label for="grouped">Grouped</label>
            <input type="checkbox" id="grouped" formControlName="grouped" />
            <p class="form-group__description">
                It will show the gallery grouped by one level deep folders
                inside the directory (Subfolders won't be taken)
            </p>
        </div>
        <div class="form-group form-group--row">
            <label for="directory-path">Photos directory</label>
            <input
                class="text-input"
                [class]="{ 'input-error': showDirectoryPathError }"
                type="text"
                id="directory-path"
                formControlName="directoryPath"
                placeholder="/path/to/your/album/directory"
                required
            />
            @if (showDirectoryPathError) {
                <div class="control-error">{{ directoryPathError }}</div>
            }
        </div>
        <h3>Settings</h3>
        <div class="form-columns">
            <div>
                <div class="form-group form-group--row">
                    <app-custom-input
                        class="grid"
                        label="Gap"
                        id="gap"
                        type="number"
                        formControlName="gap"
                        [showError]="showNumberFieldError('gap')"
                        [errorMessage]="numberFieldError('gap')"
                    />
                </div>
                <h4>Page size (cm)</h4>
                <div class="form-columns">
                    <div class="form-group form-group--row">
                        <app-custom-input
                            class="grid"
                            label="Width"
                            id="page-width"
                            type="number"
                            formControlName="pageWidth"
                            [showError]="showNumberFieldError('pageWidth')"
                            [errorMessage]="numberFieldError('pageWidth')"
                        />
                    </div>
                    <div class="form-group form-group--row">
                        <app-custom-input
                            class="grid"
                            label="Height"
                            id="page-height"
                            type="number"
                            formControlName="pageHeight"
                            [showError]="showNumberFieldError('pageHeight')"
                            [errorMessage]="numberFieldError('pageHeight')"
                        />
                    </div>
                </div>
            </div>
            <div>
                <h4>Page padding (cm)</h4>
                <div class="form-columns">
                    <div class="form-group form-group--row">
                        <app-custom-input
                            class="grid"
                            label="Padding Top"
                            id="padding-top"
                            type="number"
                            formControlName="paddingTop"
                            [showError]="showNumberFieldError('paddingTop')"
                            [errorMessage]="numberFieldError('paddingTop')"
                        />
                    </div>
                    <div class="form-group form-group--row">
                        <app-custom-input
                            class="grid"
                            label="Padding Right"
                            id="padding-right"
                            type="number"
                            formControlName="paddingRight"
                            [showError]="showNumberFieldError('paddingRight')"
                            [errorMessage]="numberFieldError('paddingRight')"
                        />
                    </div>
                </div>

                <div class="form-columns">
                    <div class="form-group form-group--row">
                        <app-custom-input
                            class="grid"
                            label="Padding Left"
                            id="padding-left"
                            type="number"
                            formControlName="paddingLeft"
                            [showError]="showNumberFieldError('paddingLeft')"
                            [errorMessage]="numberFieldError('paddingLeft')"
                        />
                    </div>
                    <div class="form-group form-group--row">
                        <app-custom-input
                            class="grid"
                            label="Padding Bottom"
                            id="padding-bottom"
                            type="number"
                            formControlName="paddingBottom"
                            [showError]="showNumberFieldError('paddingBottom')"
                            [errorMessage]="numberFieldError('paddingBottom')"
                        />
                    </div>
                </div>
            </div>
        </div>
        @if (creationError()) {
            <div class="creation-error">{{ creationError() }}</div>
        }
        <div class="create-album-form__controls">
            <!-- This button could be type="reset" but that would clear the form completely -->
            <button type="button" class="clear button" (click)="resetForm()">
                Reset
            </button>
            <button
                class="create button"
                [disabled]="isFormInvalid"
                type="submit"
            >
                {{ savingAlbum() ? 'Saving...' : 'Save' }}
            </button>
        </div>
    </form>
</div>
