<ng-content>
    <div [cdkMenuTriggerFor]="menu" class="gallery-thumbnail">
        @if (isThumbnailLoading()) {
            <span class="loader loader--tiny"></span>
        } @else {
            <img src="{{ src() }}" [alt]="photo().key" [title]="photo().key" />
        }
        <div class="gallery-thumbnail__pages-container">
            @for (pageIndex of photo().value.pages; track $index) {
                <div class="gallery-thumbnail__page">
                    {{ pageIndex + 1 }}
                </div>
            }
        </div>
    </div>
    <ng-template #menu>
        <div cdkMenu class="thumbnail-pages-menu">
            @for (page of getPagesOptions(photo().value.pages); track $index) {
                <div
                    class="thumbnail-pages-menu__option {{
                        page ? 'active' : ''
                    }}"
                    cdkMenuItem
                    (click)="
                        addPhotoToPage({
                            fileName: photo().key,
                            pageIndex: $index,
                        })
                    "
                >
                    <span>{{ $index + 1 }}</span>
                </div>
            }
        </div>
    </ng-template>
</ng-content>
