<ng-content>
    <div
        [cdkMenuTriggerFor]="getMenuTemplate()"
        class="gallery-thumbnail w-max rounded-md bg-base-100 card-xs shadow-md p-1.5 border border-gray-200 cursor-pointer"
    >
        @if (isThumbnailLoading()) {
            <div class="h-25 w-25 flex items-center justify-center">
                <span
                    class="loading loading-spinner loading-lg text-secondary"
                ></span>
            </div>
        } @else {
            <div class="relative">
                @if (isSelectionEnabled()) {
                    <input
                        type="radio"
                        [name]="'radio' + name()"
                        class="radio radio-xs absolute index-10 top-1 left-1 radio-secondary shadow-md outline outline-base-100"
                        [checked]="selected()"
                    />
                }
                <img
                    class="h-30 rounded-xs mb-1.5"
                    [src]="src()"
                    [alt]="name()"
                    [title]="name()"
                />
            </div>
        }
        <div class="flex gap-1.5">
            @for (pageIndex of pages(); track $index) {
                <div
                    class="rounded-xs bg-base-300 text-gray-500 px-2 py-0.5 text-xs border border-gray-300"
                >
                    {{ pageIndex + 1 }}
                </div>
            }
        </div>
    </div>
    <ng-template #menu>
        <div
            cdkMenu
            class="thumbnail-pages-menu bg-base-100 rounded-sm p-2 grid grid-cols-5 gap-2 shadow-md"
        >
            @for (page of albumStore.activeAlbum()?.pages; track $index) {
                <div
                    class="thumbnail-pages-menu__option rounded-xs bg-base-300 text-gray-500 px-1 text-sm border border-gray-300 cursor-pointer w-7 text-center
                    {{
                        pages() && pages().includes($index)
                            ? 'bg-pink-100 border-pink-300 text-pink-500'
                            : ''
                    }}"
                    cdkMenuItem
                    (click)="
                        addPhotoToPage({
                            fileName: name(),
                            pageIndex: $index,
                        })
                    "
                >
                    <span>{{ $index + 1 }}</span>
                </div>
            }
        </div>
    </ng-template>
</ng-content>
