:host {
    position: relative;
}

.album-header {
    padding: 1rem 1rem 0 1rem;
}
.album-name {
    margin: 0;
    font-weight: 500;
}

.add-page-button {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    background-color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 0 0 5px 5px;
    border: 1px solid #ccc;
}
