<ng-container>
    @if (configService.isAlbumLoading()) {
        <div>Loading...</div>
    } @else {
        <button class="add-page-button" (click)="openAddPageDialog()">
            📄+ Page
        </button>
        <div class="album-header flex">
            <h2>{{ configService.config.getValue()!.name }}</h2>
        </div>
        <app-gallery
            [photos]="configService.photosDictionary.getValue()!"
            [url]="configService.config.getValue()!.baseUrl"
        ></app-gallery>
        <app-pages
            [pages]="configService.pages.getValue()!"
            [baseUrl]="configService.config.getValue()!.baseUrl"
        ></app-pages>
    }
</ng-container>
