@if (albumStore.activeAlbum()) {
    <ng-content>
        <div class="album-header flex items-center gap-2 p-6 pb-0">
            <button
                class="album-header__home-button text-3xl font-semibold cursor-pointer flex items-center"
                (click)="goHome()"
            >
                <app-icon name="chevron-left" />
                Albums
            </button>
            <span class="text-3xl font-thin text-gray-400 px-2"> | </span>
            <h2 class="text-3xl font-thin text-pink-700">
                {{ albumStore.activeAlbum()!.name }}
            </h2>
            <span class="text-3xl font-thin text-gray-400 px-2"> | </span>
            <span class="text-gray-500 text-2xl font-thin mr-2">
                {{ albumStore.activeAlbum()?.pages?.length }} Pages</span
            >
            <button class="btn btn-sm mr-2" (click)="openAddPageDialog()">
                <app-icon name="document-plus" size="size-5" />

                Add Page
            </button>
            <button
                class="mr-2 cursor-pointer"
                (click)="downloadPages()"
                [disabled]="isDownloadingPages()"
            >
                @if (isDownloadingPages()) {
                    <span class="loading loading-xs loading-spinner"></span>
                    loading
                } @else {
                    <app-icon name="arrow-down-tray" />
                }
            </button>
            <button class="cursor-pointer" (click)="openAlbumSettingsDialog()">
                <app-icon name="cog-6-tooth" />
            </button>
            <button class="btn btn-sm pointer" (click)="openSectionsDialog()">
                Sections
            </button>
        </div>
        <app-directory-gallery [directory]="albumStore.albumDirectory()" />
        <app-pages />
    </ng-content>
}
