<fieldset [class]="'fieldset' + ' ' + class()">
    <label [for]="id()" class="fieldset-legend">{{ label() }}</label>
    <input
        #inputElement
        class="input input-sm"
        [class]="{ 'input-error': showError() }"
        [type]="type()"
        [id]="id()"
        (input)="onInput($any($event.target).value)"
        (blur)="onBlur()"
    />
    @if (showError()) {
        <div class="fielset-label text-xs text-red-500">
            {{ errorMessage() }}
        </div>
    }
</fieldset>
