.page-preview {
    display: grid;
    box-sizing: border-box;
    background-color: #ddd;
    aspect-ratio: 1;
    gap: 0.4rem;
    position: relative;
}

.page-preview__photo-container {
    overflow: hidden;
    background-color: white;
}
.page-preview__photo-container img.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
