/* .page {
    width: 600px;
    height: 600px;
    display: grid;
    gap: 8px;
    padding: 8px;
    
}

.page-1 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.page__photo {
    background-image: url('../assets/photos/2023/07-juli/IMG_0170.png');
  background-size: cover;
  background-position: center;
} */