@if (showPageIndex()) {
    <app-page-index
        [totalPages]="albumStore.activeAlbum()!.pages.length"
        [sections]="albumStore.activeAlbum()?.sections"
    />
}
<div
    #pagesContainer
    class="pages-container max-h-full w-full overflow-x-auto flex p-6 gap-12 flex-1"
>
    @for (page of albumStore.activeAlbum()!.pages; track $index) {
        <div class="page-container" id="page-{{ $index }}" #pageContainer>
            <app-page
                [page]="page"
                [pageIndex]="$index"
                [pagesLength]="albumStore.activeAlbum()!.pages.length"
            />
        </div>
    }
</div>
