<div class="bg-base-100 rounded-md p-6 shadow-md">
    <form
        [formGroup]="form"
        (ngSubmit)="onFormSubmit()"
        class="page-settings-form form-sm"
    >
        <div class="flex gap-4 mb-4">
            <app-custom-input
                class="grid"
                label="Gap"
                id="gap"
                type="number"
                formControlName="gap"
            />
            <app-custom-input
                class="grid"
                label="Border Radius (mm)"
                id="photo-border-radius"
                type="number"
                formControlName="photoBorderRadius"
            />
        </div>
        <h4 class="title">Page size (cm)</h4>
        <div class="flex gap-4 mb-4">
            <app-custom-input
                class="grid"
                label="Width"
                id="page-width"
                type="number"
                formControlName="pageWidth"
            />
            <app-custom-input
                class="grid"
                label="Height"
                id="page-height"
                type="number"
                formControlName="pageHeight"
            />
        </div>
        <h4 class="title">Page padding (cm)</h4>
        <div class="flex gap-4">
            <app-custom-input
                class="grid"
                label="Padding Top"
                id="padding-top"
                type="number"
                formControlName="paddingTop"
            />
            <app-custom-input
                class="grid"
                label="Padding Right"
                id="padding-right"
                type="number"
                formControlName="paddingRight"
            />
        </div>
        <div class="flex gap-4 mb-4">
            <app-custom-input
                class="grid"
                label="Padding Left"
                id="padding-left"
                type="number"
                formControlName="paddingLeft"
            />
            <app-custom-input
                class="grid"
                label="Padding Bottom"
                id="padding-bottom"
                type="number"
                formControlName="paddingBottom"
            />
        </div>
        <div class="flex justify-between">
            <button type="button" class="btn btn-sm" (click)="cancelForm()">
                Close
            </button>
            <div class="flex gap-2">
                <button type="button" class="btn btn-sm" (click)="clearForm()">
                    Clear all
                </button>
                <button type="button" class="btn btn-sm" (click)="resetForm()">
                    Revert
                </button>
                <button
                    class="btn btn-sm btn-secondary"
                    [disabled]="isSaveButtonDisabled()"
                    type="submit"
                >
                    {{ false ? 'Saving...' : 'Save' }}
                </button>
            </div>
        </div>
    </form>
</div>
