<div class="p-3">
    <form
        [formGroup]="form"
        (ngSubmit)="onFormSubmit()"
        class="page-settings-form form-sm"
    >
        <div>
            <div class="form-group form-group--row">
                <app-custom-input
                    class="grid"
                    label="Gap"
                    id="gap"
                    type="number"
                    formControlName="gap"
                />
            </div>
            <h4 class="title">Page size (cm)</h4>
            <div class="form-columns">
                <div class="form-group form-group--row">
                    <app-custom-input
                        class="grid"
                        label="Width"
                        id="page-width"
                        type="number"
                        formControlName="pageWidth"
                    />
                </div>
                <div class="form-group form-group--row">
                    <app-custom-input
                        class="grid"
                        label="Height"
                        id="page-height"
                        type="number"
                        formControlName="pageHeight"
                    />
                </div>
            </div>
            <h4 class="title">Page padding (cm)</h4>
            <div class="form-columns">
                <div class="form-group form-group--row">
                    <app-custom-input
                        class="grid"
                        label="Padding Top"
                        id="padding-top"
                        type="number"
                        formControlName="paddingTop"
                    />
                </div>
                <div class="form-group form-group--row">
                    <app-custom-input
                        class="grid"
                        label="Padding Right"
                        id="padding-right"
                        type="number"
                        formControlName="paddingRight"
                    />
                </div>
            </div>
            <div class="form-columns">
                <div class="form-group form-group--row">
                    <app-custom-input
                        class="grid"
                        label="Padding Left"
                        id="padding-left"
                        type="number"
                        formControlName="paddingLeft"
                    />
                </div>
                <div class="form-group form-group--row">
                    <app-custom-input
                        class="grid"
                        label="Padding Bottom"
                        id="padding-bottom"
                        type="number"
                        formControlName="paddingBottom"
                    />
                </div>
            </div>
        </div>
        <div class="page-settings-form__controls flex">
            <!-- This button could be type="reset" but that would clear the form completely -->
            <button type="reset" class="clear button button--sm">Clear</button>
            <div class="flex">
                <button
                    type="button"
                    class="clear button button--sm"
                    (click)="resetForm()"
                >
                    Reset
                </button>
                <button
                    class="create button button--sm"
                    [disabled]="isSaveButtonDisabled()"
                    type="submit"
                >
                    {{ false ? 'Saving...' : 'Save' }}
                </button>
            </div>
        </div>
    </form>
</div>
