@if (photo().fileName) {
    <img
        [cdkMenuTriggerFor]="menu"
        class="photo w-full h-full object-cover absolute"
        [src]="getPhotoSrc(photo())"
        alt=""
        [style]="getImgStyles(photo().styles)"
    />
    <ng-template #menu>
        <div cdkMenu class="bg-white p-2 rounded-sm shadow-md">
            <div>
                <h4 class="mb-2 text-xs">Align</h4>
                <div class="flex gap-2 mb-4">
                    <button
                        *ngFor="
                            let option of alignmentOptions;
                            let alignmentIndex = index
                        "
                        class="btn btn-xs {{
                            isAlignmentActive({
                                alignment: option,
                            })
                                ? 'btn-secondary'
                                : ''
                        }}"
                        (click)="
                            togglePhotoAlignment({
                                photoIndex: photoIndex(),
                                alignment: option,
                            })
                        "
                    >
                        {{ option }}
                    </button>
                </div>
            </div>
            <div class="mb-4">
                <h4 class="text-xs mb-2">Swap photo</h4>
                <div class="flex gap-2">
                    @for (option of shiftOptions; track $index) {
                        <button
                            [disabled]="isShiftDisabled(option, photoIndex())"
                            (click)="
                                shiftPhotoPosition({
                                    photoIndex: photoIndex(),
                                    direction: option,
                                })
                            "
                            class="btn btn-xs"
                        >
                            @if (option === -1) {
                                <app-icon
                                    name="arrow-left-on-rectangle"
                                    size="size-4"
                                />
                            } @else {
                                <app-icon
                                    name="arrow-right-on-rectangle"
                                    size="size-4"
                                />
                            }
                        </button>
                    }
                </div>
            </div>

            <div class="mb-4">
                <h4 class="text-xs mb-2">Border Radius (mm)</h4>
                <div class="flex gap-2 items-center">
                    <input
                        type="number"
                        class="input input-xs input-bordered w-20"
                        [value]="photo().photoBorderRadius ?? ''"
                        (change)="updateBorderRadius($any($event.target).value)"
                        min="0"
                    />
                    @if (photo().photoBorderRadius !== undefined) {
                        <button
                            class="btn btn-xs"
                            (click)="clearBorderRadius()"
                        >
                            Clear
                        </button>
                    }
                </div>
            </div>

            <div class="">
                <button
                    (click)="removePhoto(photoIndex(), photo())"
                    class="btn btn-xs"
                >
                    Remove
                    <app-icon name="trash" size="size-4" />
                </button>
            </div>
        </div>
    </ng-template>
}
