<ng-container>
    @if (photo().fileName) {
        <img
            [cdkMenuTriggerFor]="menu"
            class="photo"
            [src]="getPhotoSrc(photo())"
            alt=""
            [style]="getImgStyles(photo().styles)"
        />
        <ng-template #menu>
            <div cdkMenu class="options-menu">
                <div class="align-section options-menu__option">
                    <button
                        *ngFor="
                            let option of alignmentOptions;
                            let alignmentIndex = index
                        "
                        class="options-menu__option align-section__option {{
                            isAlignmentActive({
                                alignment: option,
                            })
                                ? 'active'
                                : ''
                        }}"
                        (click)="
                            togglePhotoAlignment({
                                photoIndex: photoIndex(),
                                alignment: option,
                            })
                        "
                    >
                        {{ option }}
                    </button>
                </div>
                <div class="shift-section options-menu__option">
                    <div>Shift position</div>
                    <div class="shift-section__options">
                        @for (option of shiftOptions; track $index) {
                            <button
                                [disabled]="
                                    isShiftDisabled(option, photoIndex())
                                "
                                (click)="
                                    shiftPhotoPosition({
                                        photoIndex: photoIndex(),
                                        direction: option,
                                    })
                                "
                                class="shift-section__option"
                            >
                                {{ option }}
                            </button>
                        }
                    </div>
                </div>

                <button
                    (click)="removePhoto(photoIndex(), photo())"
                    class="options-menu__option remove-photo"
                >
                    Remove 🗑️
                </button>
            </div>
        </ng-template>
    }
</ng-container>
